.result-row {
  display: flex;
  gap: 12px;
  margin-top: 6px;
  justify-content: center;
  flex-wrap: wrap;
}
.result-box {
  width: 140px;
  padding: 10px 6px;
  border-radius: 10px;
  background: #eeeeee;
  text-align: center;
  font-weight: bold;
  border: 2px solid transparent;
  text-transform: capitalize;
  color: black;
  font-size: 0.9rem;
  line-height: 1.0rem;
}
.result-box.true {
  background: #c6f6c6;
  border-color: #3aa63a;
  color: #1e6a1e;
}
.result-box.false {
  background: #f8d0d0;
  border-color: #c23a3a;
  color: #7a1e1e;
}